#!/usr/bin/python
# -*- coding: utf-8 -*-

# Copyright: (c) {{ year }}, {{ author_name }} <{{ author_email }}>
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)

from __future__ import (absolute_import, division, print_function)
__metaclass__ = type

DOCUMENTATION = r'''
---
module: {{ module_name }}

short_description: Manage pfSense {{ module_node }}s

version_added: "0.6.0"

description:
  - Manage pfSense {{ module_node }}s

options:
  name:
    description: The name of the {{ module_node }}
    required: true
    type: str
  state:
    description: State in which to leave the {{ module_node }}
    choices: ['present', 'absent']
    default: present
    type: str
{% for name, param in params.items() %}
  {{ name }}:
    description: {{ "'" if ':' in param['description'] else '' }}{{ param['description'] | default('') }}{{ "'" if ':' in param['description'] else '' }}
{% if 'choices' in param %}
    choices: {{ param['choices'] }}
{% endif %}
    type: {{ param['type'] | default('') }}
{% endfor %}

author: {{ author_name }} (@{{ author_handle }})
'''

EXAMPLES = r'''
- name: Add myitem {{ module_node }}
  pfsensible.core.{{ module_name }}:
    name: myitem
{% for name, param in params.items() %}
{% if param['example'] is defined %}
    {{ name }}: {{ param['example'] }}
{% else %}
    {{ name }}: {% if param['type'] == 'bool' %}false{% elif param['type'] == 'list' %}{% if 'choices' in param %}['{{ param['choices'][0:1] | join("', '") }}']{% else %}{{ param['choices'][0] }}{% endif %}{% elif param['type'] == 'str' %}{{ param['choices'][0] if 'choices' in param else '' }}{% endif %}

{% endif %}
{% endfor %}
    state: present

- name: Remove myitem {{ module_node }}
  pfsensible.core.{{ module_name }}:
    name: myitem
    state: absent
'''
RETURN = r'''
commands:
    description: the set of commands that would be pushed to the remote device (if pfSense had a CLI)
    returned: always
    type: list
    sample: ["create {{ module_node }} 'myitem'", "update {{ module_node }} 'myitem' set ...", "delete {{ module_node }} 'myitem'"]
'''

from ansible.module_utils.basic import AnsibleModule
from ansible_collections.pfsensible.core.plugins.module_utils.module_base import PFSenseModuleBase

# Change to name of module, extend for needed parameters
{{ module_node | upper() }}_ARGUMENT_SPEC = {
    # Only name should be required here - othewise you cannot remove an item with just 'name'
    # Required arguments for creation should be note in {{ module_node | upper() }}_REQUIRED_IF = ['state', 'present', ...] below
    'name': {'required': True, 'type': 'str'},
    'state': {
        'default': 'present',
        'choices': ['present', 'absent']
    },
{% for param in params %}
    '{{ param }}': {
{% if 'choices' in params[param] %}
        'choices': {{ params[param]['choices'] }},
{% endif %}
        'type': '{{ params[param]['type'] | default('') }}',
    },
{% endfor %}
}

# Compact style
{{ module_node | upper() }}_ARGUMENT_SPEC = dict(
    # Only name should be required here - othewise you cannot remove an item with just 'name'
    # Required arguments for creation should be note in {{ module_node | upper() }}_REQUIRED_IF = ['state', 'present', ...] below
    name=dict(required=True, typ='str'),
    state=dict(default='present', choices=['present', 'absent']),
{% for param in params %}
    {{ param }}=dict(type='{{ params[param]['type'] | default('') }}'{% if 'choices' in params[param] %}, choices={{ params[param]['choices'] }},{% endif %}),
{% endfor %}
)

{{ module_node | upper() }}_REQUIRED_IF = [
{% if module_type %}
    ['state', 'present', ['type']],
    ['type', '{{ params['type']['example'] }}', ['{{ params | dict2items | rejectattr('key', 'equalto', 'type') | selectattr('value.required', 'defined') | map(attribute='key') | join("', '") }}']],
{% else %}
    ['state', 'present', ['{{ params | dict2items | selectattr('value.required', 'defined') | select(attribue='key') | join("', '") }}']],
{% endif %}
]

{% if 'filter.inc' in php_requires %}
{{ module_node | upper() }}_PHP_COMMAND_SET = r'''
require_once("filter.inc");
if (filter_configure() == 0) { clear_subsystem_dirty('{{ php_subsystem }}'); }
'''

{% endif %}

class PFSense{{ module_node | capitalize() }}Module(PFSenseModuleBase):
    """ module managing pfsense {{ module_node }} """

    ##############################
    # unit tests
    #
    # Must be class method for unit test usage
    @staticmethod
    def get_argument_spec():
        """ return argument spec """
        return {{ module_node | upper() }}_ARGUMENT_SPEC

    def __init__(self, module, pfsense=None):
        super(PFSense{{ module_node | capitalize() }}Module, self).__init__(module, pfsense, root='{{ module_root }}', node='{{ module_node }}', key='{{ module_key }}'{{ ', update_php=' ~ module_node | upper() ~ '_PHP_COMMAND_SET' if 'filter.inc' in php_requires else '' }})

    ##############################
    # params processing
    #
    def _validate_params(self):
        """ do some extra checks on input parameters """
        params = self.params

        # check name
        self.pfsense.check_name(params['{{ module_key }}'], '<TYPE>')

        if params['state'] == 'present':
            #  ... more checks, e.g.:
            if int(params['timeout']) < 1:
                self.module.fail_json(msg='timeout {0} must be greater than 1'.format(params['timeout']))


# TODO - review this for clues for input validation.  Search for functions in the below require_once files in /etc and /usr/local/pfSense/include
PHP_VALIDATION = r'''
{{ php_requires }}

{{ php_save }}
'''


def main():
    module = AnsibleModule(
        argument_spec={{ module_node | upper() }}_ARGUMENT_SPEC,
        required_if={{ module_node | upper() }}_REQUIRED_IF,
        supports_check_mode=True)

    pfmodule = PFSense{{ module_node | capitalize() }}Module(module)
    pfmodule.run(module.params)
    pfmodule.commit_changes()


if __name__ == '__main__':
    main()
